<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>23分钟前</string>
		<key>replys</key>
		<array>
			<string>早死得先帝：你好,约吗?亲</string>
			<string>回复早死得先帝：行啊,今天晚上402,不见不散</string>
		</array>
		<key>pictures</key>
		<array>
			<string>pic1</string>
		</array>
		<key>shuoshuoText</key>
		<string>微信群分享：国际礼仪培训师为你解开社交肢体语言和细节礼仪</string>
		<key>name</key>
		<string>隔壁家的老二B</string>
		<key>icon</key>
		<string>icon4</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1小时前</string>
		<key>replys</key>
		<array/>
		<key>pictures</key>
		<array>
			<string>pic2</string>
		</array>
		<key>shuoshuoText</key>
		<string>微信群分享：酷炸的全球旅行！听小鲜肉怎用最少的钱玩最缤FUN的环球旅程</string>
		<key>name</key>
		<string>早死得先帝</string>
		<key>icon</key>
		<string>icon5</string>
	</dict>
	<dict>
		<key>time</key>
		<string>3小时前</string>
		<key>replys</key>
		<array/>
		<key>pictures</key>
		<array>
			<string>pic3</string>
		</array>
		<key>shuoshuoText</key>
		<string>线上咨询：满族小伙带你感受少数民族的文化魅力</string>
		<key>name</key>
		<string>飞起来的Flore</string>
		<key>icon</key>
		<string>icon1.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>5小时前</string>
		<key>replys</key>
		<array/>
		<key>pictures</key>
		<array>
			<string>pic4</string>
		</array>
		<key>shuoshuoText</key>
		<string>线上咨询：广州本地玩咖开脑洞奉上独家玩乐秘笈</string>
		<key>name</key>
		<string>齐小喵不矫情</string>
		<key>icon</key>
		<string>icon2.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>8小时前</string>
		<key>replys</key>
		<array/>
		<key>pictures</key>
		<array>
			<string>picture1</string>
			<string>picture2</string>
			<string>picture3</string>
			<string>picture4</string>
		</array>
		<key>shuoshuoText</key>
		<string>微信群分享：知乎m战神经验谈——两性技巧纯干货</string>
		<key>name</key>
		<string>Topfun</string>
		<key>icon</key>
		<string>icon3.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>replys</key>
		<array/>
		<key>pictures</key>
		<array>
			<string>pic5.jpg</string>
		</array>
		<key>shuoshuoText</key>
		<string>线上定制：追爱大布局，打造属于你的求婚策划</string>
		<key>name</key>
		<string>佰翔花园酒店燕子</string>
		<key>icon</key>
		<string>林峰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2天前</string>
		<key>replys</key>
		<array>
			<string>早死得先帝：我没有说谎，是爱情说谎，他太依赖，骗我说有可能有希望，我没有说谎，是很感谢今晚的相伴，但我竟然有些不习惯</string>
			<string>隔壁家的老二B回复早死得先帝：你算什么男人，算什么男人，眼睁睁看她走却不闻不问，是有多天真，就别再硬撑，期待你挽回你却拱手让人</string>
		</array>
		<key>pictures</key>
		<array/>
		<key>shuoshuoText</key>
		<string>分享故事: 我爱你，是忠于自己忠于爱情的信仰，我爱你，是那么温暖那么温柔的力量，爱是一种信仰，把你，带回我的身旁</string>
		<key>name</key>
		<string>高方方</string>
		<key>icon</key>
		<string>高圆圆</string>
	</dict>
</array>
</plist>
